body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

canvas {

    padding: center;
    display: block;

}

#restartButton{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%; /* Ajuste o valor para posicionar o botão abaixo da pontuação */
    display: none; /* Inicialmente escondido */
}

.botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

.botao-mute{
    position: absolute;
    right: 10px;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 2;
    top: 10px;

}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;
}

#startButton:active {
    background-color: orange;
}

.hidden {
    display: none;
}
