body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 90vh;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    display: block;
    height: auto; /* Mantém a proporção do canvas */
    margin-top: 15vh;
    margin-left: 40vh;
    max-width: 100%; /* Não deixa o canvas passar da largura da tela */
    max-height: 100%; /* Não deixa o canvas passar da altura da tela */
}

#restartButton, #startButton {
    border: none;
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    position: absolute;
    transform: translateX(-50%);
    display: none; /* Escondido até ser ativado */
    cursor: pointer;
}

#restartButton {
    top: 62%; /* Colocado abaixo da pontuação */
    left: 50%;

}

#startButton {
    top: 50%;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 2vh; /* Usa unidades responsivas baseadas na altura da tela */
    z-index: 1000;
    font-family: 'Press Start 2P', cursive;
    left: 95vh;
}

#startButton:active {
    background-color: orange;
}

.botao-voltar {
    position: absolute;
    top: 2vh;
    left: 2vw;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1vh 2vw;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

.botao-mute {
    position: absolute;
    right: 2vw;
    top: 2vh;
    background-color: #004f0c;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1vh;
    font-size: 2vh;
    cursor: pointer;
    z-index: 2;
}

.hidden {
    display: none;
}
